<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1> welcome to the text analyzer. Enter your text below.</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; width: 1068px; height: 89px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punctuation<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="spaceremover">Space Remover<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>